<div class="messages mt-4" *ngIf="isConnected">
  <div class="row">
    <div class="col-md-10 message-box">
      <ul>
        <li *ngFor="let msg of salutes" class="message">
          <div class="message-container">
            <span>{{msg}}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-2 message-box">
      <ul>
        <li *ngFor="let subscription of subscriptions">
          <div class="message-container" (click)="setCurrentTopic(subscription)">
            {{ subscription }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="username">
    <div class="row mb-4 mt-2">
      <div class="col-md-8 offset-md-2" *ngIf="!isConnected">
        <label for="username">Set topic name: </label>
        <input type="text"
               id="username"
               class="form-control"
               [(ngModel)]="currentTopic"
               placeholder="Subs to your message queue (from all senders)">
        <button (click)="connect()" class="btn btn-success">Set</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2" *ngIf="isConnected">
        <label for="msg">Enter message: </label>
        <input type="text" id="msg" [(ngModel)]="message" placeholder="Message" class="form-control">
        <button (click)="sendMessageToTopic()" class="btn btn-success">Send</button>
      </div>
      <button (click)="disconnect(currentTopic)" class="btn btn-success" *ngIf="isConnected">Disconnect</button>
    </div>
  </div>
</div>
