ul {
  padding: 0;
}
input {
  max-width: 75%;
}
button, input {
  display: inline-block;
  margin: 0 3px;
}
li {
  list-style: none;
  display: block;
  word-break: break-all;
  width: auto;
  height: auto;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  margin: 5px 10px;
}
.message-box {
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  height: 75vh;
}
